/* You can add global styles to this file, and also import other style files */
:root {
  --footer-light-color: #2d4073;
  --footer-dark-color: #223668;

  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-danger: #dc3545;
  --bs-warning: #ffc107;
  /* Button Color */
  --bs-info: #0dcaf0;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
}
*{
    /* direction: rtl; */
    margin: 0;
    padding: 0;
}
html[dir="rtl"] body {
  direction: rtl;
  text-align: right;
}

html[dir="ltr"] body {
  direction: ltr;
  text-align: left;
}

